<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.common.bean.CityMapper">
	<!-- 加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	
	<!-- 根据角色查询拥有的菜单-->
	<select id="findAllCity" resultType="City">
		select distinct city from users where country='中国'
	</select>
	
	<!-- 查询所有角色信息-->
	<select id="findValueByCity" resultType="int" parameterType="City">
		select count(1) as value from users where city=#{city}
	</select>
</mapper>