<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.common.bean.KeyReplyMapper">
	
	<!-- 加入缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">
	</cache>
	
		<!-- 排序条件的拼接 -->
	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by #{orderby}
			<if test="orderway!=null and orderway!=''">
				#{orderway}
			</if>
		</if>
	</sql>
	
	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>
	
	
	<!-- 插入数据关键字  -->
	<insert id="addKeyWords">
		insert into keyreply(keywords,content,mediaId,title,description,picUrl,url,ktype) 
		values(#{keywords},#{content},#{mediaId},#{title},#{description},#{picUrl},#{url},#{ktype}) 
	</insert>
	
	
	<!-- 根据关键字查找  可用于判断是否存在该关键字 -->
	<select id="findReplyByKeywords" parameterType="KeyReply"  resultType="KeyReply">
		select * from keyreply where keywords = #{keywords}
	</select>
	
	
	<!-- 当关键字已存在的时候进行更新 -->
	<!-- 
	<update id="updateReplyByKeywords" parameterType="Sign" >

	</update>
	 -->
	
	<!-- 查找所有关键字    包括查找关键字数量  就是查找所有关键字！-->
	<select id="findAllKeyWords"   resultType="KeyReply">
		
	select * from keyreply  		
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>

	<!-- //根据kid删除关键字 -->
	<delete id="deleteKeyWordsByKid" parameterType="KeyReply">
		delete  from keyreply where kid =#{kid}
	</delete>
	

</mapper>