<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.common.bean.WxshopOrderMapper">
	<!-- 加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	
	

	<!-- 根据用户id查找已经购买付款的订单信息 -->
	<select id="findAllWxshopOrderByUserid"  resultType="WxshopOrder" parameterType="WxshopOrder" >
		select a.userid as userid,name,cover,dealprice,ordertime,confirmstatus,a.num as num,a.roid as roid from 
		(select userid,fid,wxshoporder.roid as roid,dealprice,num,ordertime,paystatus,confirmstatus
			from wxshoporder,wxshoporderitem where wxshoporder.roid=wxshoporderitem.roid) as a
			left join wxshop
		on wxshop.fid = a.fid where userid=#{userid}
	</select>




	<!-- 插入一条订单信息 这个时候是已经支付了！-->
	<insert id="addWxshopOrder"  parameterType="WxshopOrder">
		insert into wxshoporder(roid,userid,ordertime,confirmstatus)
			values(#{roid},#{userid},now(),0);
	</insert>
	
	<!-- 跟改订确认状态 -->
	<update id="updateWxshopOrderConfirmstatus" parameterType="WxshopOrder" >
		update wxshoporder set confirmstatus=1 where roid = #{roid}
	</update>
	

</mapper>